*, *::before, *::after {
    box-sizing: border-box;
}

@font-face {
    font-family: "PSBold";
    src: url(./Assets/PSBold.ttf);
}

body {
    background: url(./Assets/background.png);
}

h1 {
    color: #fff;
    display: flex;
    justify-content: center;
    font-family: "PSBold";
    font-size: 40px;
}

table {
    border: 1px solid white;
    width: 100%;
}

tr {
    width: 100%;
}
