*, *::before, *::after {
    box-sizing: border-box;
}

@font-face {
    font-family: "PSBold";
    src: url(./Assets/PSBold.ttf);
}

html, body {
    font-family: "PSBold";
    margin: 0;
    background-color: #000;
    background:url(./Assets/background.png);
}

.head {
    display: flex;
    width: 100%;
    font-size: 20px;
    color: #fff;
    justify-content: center;    
}

.sign-in {
    display: flex;
    justify-content: center;
}

.sign-in-btn {
    transform: translate3d(-50%, -50%, 0);
    cursor: pointer;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    border: none;
    width: 382px;
    height: 92px;
    background: url(./Assets/signin_btn.png);
}    
